body {
    background-color: #ffffff;
}

main {
    max-width: 936px;
    margin: auto auto;
}

#header > img {
    width: 103px;
    height: 29px;
    margin-top: 18px;
}

input {
    border: 0px;
    width: 268px;
    height: 36px;
    border-radius: 8px;
    background-color: #EFEFEF;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 300;
}

hr {
    border: 0;
    height: 1px;
    background-color: #DBDBDB;
}

#headerHr {
    width: 100%;
    background-color: #DBDBDB;
}

#headerHr {
    width: 100%;
}

#userSummary {
    width: 553px;
    height: 140px;
    display: flex;
    justify-content: space-around;
}

#userSummary > img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

#userAccount {
    display: flex;
    flex-direction: column;
    width: 281px;
    height: 104px;
}

#userId {
    font-family: Noto Sans KR;
    font-size: 24px;
    font-weight: 500;
}

button {
    border: 0px;
    width: 68px;
    height: 32px;
    border-radius: 4px;
    background-color: #EFEFEF;
    font-family: Noto Sans KR;
    font-size: 13px;
    font-weight: 500;
}

#accountCounts {
    display: flex;
    justify-content: space-between;
    font-family: Noto Sans KR;
    font-size: 13px;
    font-weight: 500;
}

#userName {
    font-family: Noto Sans KR;
font-size: 13px;
font-weight: 700;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    color: #9E9E9E;
    font-family: Noto Sans KR;
    font-size: 12px;
    font-weight: 500;
}

#imgs > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}