@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
}

main {
    max-width: 936px;
    margin: 52px auto 247px;
}

header {
    border-bottom: 1px solid #DBDBDB;
}

.headerSummary {
    display: flex;
    flex-direction: row;
}

header img {
    width: 103px;
    height: 29px;
    margin-top: 18px;
    margin-bottom: 13px;
    margin-left: 252px;
}

.search {
    width: 268px;
    height: 36px;
    background-color: #EFEFEF;
    border: 0;
    border-radius: 8px;
    margin-top: 12px;
    margin-left: 231px;
    display: flex;
    flex-direction: row;
}

.search img {
    width: 14px;
    height: 14px;
    margin-left: 16px;
    margin-top: 11px;
    margin-bottom: 11px;
}

input {
    width: 210px;
    height: 14px;
    margin: 11px 16px 11px 12px;
    background-color: #EFEFEF;
    border: 0;
}

input:focus {
    outline: none;
}

.userSummary {
    width: 936px;
    height: 140px;
    margin: 52px auto 48px;
    display: flex;
    flex-direction: row;
}

.userSummary > img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-left: 51px;
}

.userAccount {
    display: flex;
    flex-direction: column;
    width: 281px;
    height: 104px;
    margin-left: 132px;
}

.idFollow {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.userId {
    font-size: 24px;
    font-weight: 500;
}

.followButton {
    border: 0px;
    width: 68px;
    height: 32px;
    margin-left: 26px;
    border-radius: 4px;
    background-color: #EFEFEF;
    font-size: 13px;
    font-weight: 500;
}

.accountCounts {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 16px;
}

.userName {
    font-size: 13px;
    font-weight: 700;
    margin-top: 0px;
}

.buttonGroup {
    width: 936px;
    height: 30px;
    border-top: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}

.buttonGroup button {
    background-color: #ffffff;
    border: 0;
    color: #9E9E9E;
    font-size: 12px;
    font-weight: 500;
    padding-top: 16px;
}

.post {
    margin-top: -1px;
    border-top: 1px solid #000000;
    margin-left: 286px;
}

.post > button {
    color: #000000;
}

.tagged {
    margin-right: 286px;
}

.imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.imgs > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}